<!-- <app-menu-side-bar></app-menu-side-bar>
<div class="view-cart-component">
  <div *ngIf="!isShown">
    <button (click)="toggleShow()">
      <img src="https://media.istockphoto.com/vectors/shopping-cart-icon-isolated-on-white-background-vector-id1206806317?b=1&k=20&m=1206806317&s=170667a&w=0&h=Kbm0xUsNIKmWfxXL5Rj0ElxUPtbldRblFtkLBwUhzkQ=" alt="View Cart">
    </button>
  </div>

  <div *ngIf="isShown" class="cart">
    <button (click)="toggleShow()">X</button>
    <app-view-cart></app-view-cart>
  </div>
</div>
<app-search-bar *ngIf="!(router.url === '/login' || router.url === '/register' || router.url === '/productlist')"></app-search-bar> -->


<router-outlet></router-outlet>
